@import "style.css";

.profile-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 150px;
    height: 500px;
}

.profile-picture {
    height: 70%;
}

#login-form {
    display: flex;
    flex-direction: column;
    align-items: left;
}
